{% extends "/bootstrap/template-base.html" %}
{% block title %}Sou o Bootstrap :){% endblock %}



{% block head %}
   {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <body>


    {% block content %}
        <h1>Hello, World!</h1><br><br>
    {% endblock %}

    {% block footer %}
      <h5>Horário: {{moment(current_time).format('LLL') }}</h5>
      <h6>Acessou em: {{moment(current_time).fromNow(refresh = true) }} </h6>
    {% endblock %}
    {% block script %}
        <!-- Optional JavaScript -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
        {{ moment.include_moment() }}
    {% endblock %}

    </body>

{% endblock %}