{% extends "base.html" %}

{# importa ferramentas do formulário Bootstrap #}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>
        Hello,
        {% if name %}
            {{ name }}
        {% else %}
            Stranger
        {% endif %}!
    </h1>
</div>

{# Dá coordenadas ao Bootstrap para pegar o form do Python e construir o HTML #}
{{ wtf.quick_form(form) }}

{% endblock %}